@import 'partials/utility.scss';
@import 'partials/colors.scss';
@import 'partials/fonts.scss';
@import 'partials/base.scss';
@import 'partials/footer.scss';
@import 'partials/navigation.scss';
@import 'partials/resolutions.scss';
@import 'partials/typography.scss';
@import '../css/css-externals/aos.css';
@import '../css/css-externals/swiper-bundle.min.css';