@import 'partials/utility';
@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/base';
@import 'partials/footer';
@import 'partials/navigation';
@import 'partials/resolutions';
@import 'partials/typography';
@import 'partials/swiper';
@import '../css/css-externals/aos';
@import '../css/css-externals/glightbox.min';