$max-width: 1520px;
$percent-width: 90%;

$desktop-large-width: 1920px;
$desktop-large-height: 1080px;

$desktop-medium-width: 1440px;
$desktop-medium-height: 768px;

$desktop-small-width: 1280px;
$desktop-small-height: 768px;

$breakpoint: 1000px;

$tablet-width: 768px;
$tablet-height: 1024px;

$phablet-width: 600px;
$phablet-height: 960px;

$smartphone-large-width: 414px;
$smartphone-large-height: 736px;

$smartphone-medium-width: 375px;
$smartphone-medium-height: 667px;

$smartphone-small-width: 320px;
$smartphone-small-height: 568px;